<!--
SPDX-FileCopyrightText: 2026 SVG2OOXML Contributors
SPDX-License-Identifier: CC-BY-NC-SA-4.0
-->
<svg xmlns="http://www.w3.org/2000/svg" width="800" height="600" viewBox="0 0 800 600">
  <rect width="800" height="600" fill="#FFFFFF"/>
</svg>

